<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>&nbsp
    <%= f.text_field :first_name %></br>
  </div></br>
  <div class="field">
    <%= f.label :last_name %>&nbsp
    <%= f.text_field :last_name %>
  </div></br>
  <div class="field">
   &nbsp &nbsp &nbsp <%= f.label :email %>&nbsp
    <%= f.text_field :email %>
  </div></br>
  <div class="field">
    <%= f.label :password %>&nbsp
    <%= f.password_field :password %>
  </div></br>
  <div>
    <%= f.label :confirm_password %>&nbsp
    <%= f.password_field :password_confirmation %>
  </div></br>
  <div class="actions" >
     <%= f.submit :class => 'btn brn-lg btn-primary'%>
  </div>
<% end %>
