
<!--<h1>Legion Post 854 Email Members</h1>-->
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
<div>

<table class="table table-bordered table-striped center-table" 

border="0.5" style="width:450px" cellpadding="2">

  <thead>
    <tr>

      <th><%= link_to "Name", :sort => "name" %></th>
      <th><%= link_to "Email address", :sort => "email" %></th>
      <!--<th>Name of Members</th>-->
      <!--<th>Email address</th>-->
      <th>Show</th>
      <th>Edit/Email</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit/Email', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
<br>

<p><%= link_to 'New Member', new_user_path, class: "btn brn-lg btn-primary" %></p>
<%= link_to 'Email all Legion Members', spam_users_path(@users), class: "btn brn-lg btn-primary" %> 


</div>